@font-face {
    font-family: 'OmegaCT';
    src: url('../assets/omega_countdown/fonts/omegact-regular-webfont.eot');
    src: url('../assets/omega_countdown/fonts/omegact-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/omega_countdown/fonts/omegact-regular-webfont.woff') format('woff'), url('../assets/omega_countdown/fonts/omegact-regular-webfont.ttf') format('truetype'), url('../assets/omega_countdown/fonts/omegact-regular-webfont.svg#omega_ctregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OmegaCT';
    src: url('../assets/omega_countdown/fonts/omegact-bold-webfont.eot');
    src: url('../assets/omega_countdown/fonts/omegact-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/omega_countdown/fonts/omegact-bold-webfont.woff') format('woff'), url('../assets/omega_countdown/fonts/omegact-bold-webfont.ttf') format('truetype'), url('../assets/omega_countdown/fonts/omegact-bold-webfont.svg#omega_ctbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

#ad {
    height: 123px;    
}
.countdown_container {
    transform: scale(0.54) !important;
}

#ad {
    position: relative;
    float: right;
}
.countdown_container {
    position: relative;
    width: 484px;
    height: 100px;
    border: 0 solid #9f9f9f;
    background-color: white;
    background-repeat: no-repeat;
    background-size: 100%;
    transform-origin: top left;
    -moz-transform-origin: top left;
    -webkit-transform-origin: top left;
    -o-transform-origin: top left;
}
.logo{
    height: 100px;
}
.countdown_numbers {
    line-height: 1.42857143;
}

.border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 153px;
    border: 1px solid #9f9f9f;
    max-width: 484px;
    max-height: 153px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a.omega_link {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.countdown {
    /* display: none; */
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* text-align: center; */
}

.cd_item {
    font-family: "OmegaCT", Arial, sans-serif;
    display: inline-block;
    color: #535353;
}

#final-countdown {
    opacity: 0;
}

.current-time {
    /* width: 100%; */
    position: absolute;
    text-align: center;
    font-weight: 800;
    font-size: 2.625em;
    top: 62px;
    right: 55px;
    letter-spacing: 2px;
    opacity: 0;
}

.countdown p {
    text-transform: uppercase;
    font-weight: bold;
    margin: 2px 0 0 0;
    font-family: "OmegaCT", Arial, sans-serif;
    color: #be072f;
    font-size: 1;
    text-align: center;
}

.countdown img {
    display: block;
    margin: 0 auto;
}


/* clock specifics */

.clock {
    position: absolute;
    text-align: center;
    font-weight: 800;
    font-size: 3em;
    top: 56px;
    right: 30px;
    letter-spacing: 2px;
    /* display: none; */
    opacity: 0;
}

.clock .cd_item {
    display: inline-block;
    color: #535353;
    width: 13%;
    width: auto;
    font-weight: bold;
    text-align: center;
}

.clock .inter {
    display: inline-block;
    font-weight: bold;
    width: 4%;
    width: auto;
    margin: 0 -5px;
    color: #535353;
    padding-top: 0px;
    text-align: center;
}

.countdown_container img.retina {
    display: none;
}

.cd_label,
.cd_remain {
    position: absolute;
}

.days_label.cd_label {
    top: 10px;
    right: 45px;
    font-size: 2.25em;
    /* font-weight: bold; */
    color: #757575;
    letter-spacing: 2px;
}

.days .cd_remain {
    top: 10px;
    right: 175px;
    font-size: 2.250em;
    font-weight: bold;
    color: #535353;
}

.hours_label.cd_label,
.minutes_label.cd_label,
.seconds_label.cd_label {
    font-size: 1.25em;
    /* font-weight: bold; */
    color: #535353;
}

#en .hours_label.cd_label {
    top: 75px;
    right: 212px;
}

#en .minutes_label.cd_label {
    top: 75px;
    right: 117px;
}

#en .seconds_label.cd_label {
    top: 75px;
    right: 22px;
}

#de .hours_label.cd_label {
    top: 75px;
    right: 221px;
}

#de .minutes_label.cd_label {
    top: 75px;
    right: 122px;
}

#de .seconds_label.cd_label {
    top: 75px;
    right: 40px;
}

#fr .hours_label.cd_label {
    top: 75px;
    right: 212px;
}

#fr .minutes_label.cd_label {
    top: 75px;
    right: 122px;
}

#fr .seconds_label.cd_label {
    top: 75px;
    right: 27px;
}

.hours .cd_remain,
.minutes .cd_remain,
.seconds .cd_remain {
    font-size: 2.375em;
    font-weight: bold;
    color: #535353;
    letter-spacing: 2px;
}

.hours .cd_remain {
    top: 95px;
    right: 204px;
}

.minutes .cd_remain {
    top: 95px;
    right: 116px;
}

.seconds .cd_remain {
    top: 95px;
    right: 21px;
}
