---
layout: default
---
{% assign pageDiscover = site.data.contentful.spaces.discover.pageDiscover[0]%}
<div class="hero hero-discover">
  <div class="enorme_claim_wrap"></div>
</div>
<div class="section_intro_discover">
  <div class="discover_wrap container">
    <h1 class="h1_bis h1_discover">
      {% if site.lang == "fr" %}
        {{ pageDiscover.titre }}
      {% else %}
        {{ pageDiscover.titreEn }}
      {% endif %}
    </h1>
    <p class="discover_1 discover_p">
      {% if site.lang == "fr" %}
        {{ pageDiscover.texteDintroduction | markdownify | remove: '<p>' | remove: '</p>' | newline_to_br}}
      {% else %}
        {{ pageDiscover.texteDintroductionEn | markdownify | remove: '<p>' | remove: '</p>' | newline_to_br}}
      {% endif %}
    </p>
    <div class="discover_img row">
      <div class="col-md-4">
        <img src="{{ pageDiscover.imageSection1.url }}">
      </div>
      <div class="col-md-4">
        <img src="{{ pageDiscover.image2Section1.url }}">
      </div>
      <div class="col-md-4">
        <img src="{{ pageDiscover.image3Section1.url }}">
      </div>
    </div>
  </div>
</div>
<div class="map_section" data-ix="scroll-nav">
  <div class="map w-widget w-widget-map" data-disable-scroll="1" data-disable-touch="1" data-widget-latlng="46.519654,6.632273" data-widget-style="satellite" data-widget-zoom="13"></div>
  <div class="map_discover_wrap">
    <h1 class="h1-bis h1-third h1_discover">
      {% if site.lang == "fr" %}
        {{ pageDiscover.titreSection2 }}
      {% else %}
        {{ pageDiscover.titreSection2En }}
      {% endif %}
    </h1>
    <p class="discover_p discver_bis">
      {% if site.lang == "fr" %}
        {{ pageDiscover.descriptionSection2 | markdownify | remove: '<p>' | remove: '</p>' | newline_to_br}}
      {% else %}
        {{ pageDiscover.descriptionSection2En | markdownify | remove: '<p>' | remove: '</p>' | newline_to_br}}
      {% endif %}
    </p>
  </div>
  <div class="map_wrap map_wrap_discover w-clearfix">
    <img class="map map_discover" src="{{ pageDiscover.imageSection2.url }}">
  </div>
</div>
<div class="discover_3 section_intro_discover">
  <div class="discover_wrap container">
    <h1 class="h1_discover">
      {% if site.lang == "fr" %}
        {{ pageDiscover.titreSection3 }}
      {% else %}
        {{ pageDiscover.titreSection3En }}
      {% endif %}
    </h1>
    <div class="discover_img row">
      <div class="col-md-2">
        <img src="{{ pageDiscover.image1Section3.url }}">
      </div>
      <div class="col-md-7">
        <img src="{{ pageDiscover.image2Section3.url }}">
      </div>
      <div class="col-md-3">
        <img src="{{ pageDiscover.image3Section3.url }}">
      </div>
    </div>
    <p class="discover_p">
      {% if site.lang == "fr" %}
        {{ pageDiscover.texteSection3 | markdownify | remove: '<p>' | remove: '</p>' | newline_to_br}}
      {% else %}
        {{ pageDiscover.texteSection3En | markdownify | remove: '<p>' | remove: '</p>' | newline_to_br}}
      {% endif %}
    </p>
  </div>
</div>