--- 
layout: default
---
<div class="hero">
    <div class="container">
        <h1 class="the_claim">{% t pages.index.title1.part1 %}<br/><span class="accent">{% t pages.index.title1.part2 %}</span></h1>
        <h1 class="the_claim">{% t pages.index.title2.part1 %}<br/><span class="accent">{% t pages.index.title2.part2 %}</span></h1>
        <h1 class="the_claim">{% t pages.index.title3.part1 %}<br/><span class="accent">{% t pages.index.title3.part2 %}</span></h1>
        <h1 class="the_claim">{% t pages.index.title4.part1 %}<br/><span class="accent">{% t pages.index.title4.part2 %}</span></h1>
    </div>
</div>
<div class="shop_section">
    <div class="container">
        <h1 class="h1_shop_section">{% t pages.index.title_shop %} &nbsp; <a rel="noopener noreferrer" href="{% t pages.index.link_shop %}"> {% t pages.index.txt_shop %} </a> </h1>
        <h2 class="h2_shop_section">{% t pages.index.text_shop %}</h2>
        <a rel="noopener noreferrer" href="{% t pages.index.link_shop %}">
            <img src="{% t pages.index.img_shop %}" alt="Shop!" width="70%" style="margin-bottom: 50px;">
        </a>
    </div>
</div>
<div class="news_section">
    <div class="container">
        <h1 class="h1_big_news">{% t pages.index.news.title %}</h1>
        <div class="row">
            {% for new in site.data.contentful.spaces.news.news limit:3 %}

            {% capture dir %}{% unless site.lang == "en" %}{{site.lang}}/{% endunless %}news{% endcapture %} 
            {% capture link %}{{new.titreEn}}{% endcapture %} 
            
            <div class="come-in-module col-sm-6 col-md-4">
                <a class="wrap_a" href="/{{ link | datapage_url: dir | split:'.html' | first }}">
                    <div class="new col-md-12">
                        <div class="wrap_media">
                            <img class="grow" src="{{ new.image.url }}?w=400&h=400&q=70">
                        </div>
                        <h1 class="h1_news">
                            {% if site.lang == "fr" %} {{ new.titre }} {% elsif site.lang == "de" %} {{ new.titreDe }} {% elsif site.lang == "it" %} {{ new.titreIt }} {% else %} {{ new.titreEn }} {%
                            endif %}
                        </h1>
                        <p class="p_news">
                            {% if site.lang == "fr" %} {{ new.texte | markdownify | newline_to_br | remove: '<p>' | remove: '</p>'}} 
                            {% elsif site.lang == "de" %} {{ new.texteDe | markdownify | newline_to_br | remove: '<p>' | remove: '</p>'}} 
                            {% elsif site.lang == "it" %} {{ new.texteIt | markdownify | newline_to_br | remove: '<p>' | remove: '</p>'}}
                            {% else %} {{ new.texteEn | markdownify | newline_to_br | remove: '<p>' | remove: '</p>'}} {% endif %}
                        </p>

                        
                    </div>
                </a>
                <div class="new_meta">
                    <p class="news_date">
                        <time pubdate datetime="{{new.date | date_to_xmlschema}}" title="{{new.date | date_to_xmlschema | date: '%d.%m'}}">{{new.date | date_to_xmlschema | date: "%d.%m.%Y"}}</time>
                        <a href="/{{ link | datapage_url: dir | split:'.html' | first }}">{% t pages.index.news.plus %}</a>
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="more-news-button">
            <a class="more-news-btn" rel="noopener noreferrer" href="https://www.lausanne2020.com/fr/news">
                {% t pages.index.news.autres %}
            </a>
        </div>
    </div>
</div>
<div class="about_yog_section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h1 class="h1_about_yog">
                    {% capture about_title %}{% t pages.index.about.title %}{% endcapture %} {{ about_title | newline_to_br }}
                </h1>
            </div>
            <div class="col-md-8">
                <p class="about_the_yog_p">
                    {% t pages.index.about.texte %}
                    <strong> <a href="about">{% t pages.index.about.more %}</a></strong>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="social_feed_section social_wall">
    <div class='container'>
        <h1 class="h1_big_news" style="color:white;">{% t pages.index.socialwall.title %}</h1>
 
            {% social_wall
        
                fb_username:lausanne2020,
                fb_amount:3,

                tw_username:lausanne2020,
                tw_amount:3,
        
                insta_username:2041300508,
                insta_amount:3
        
            %}
    </div>
</div>
<div class="newsletter_cta">
    <div class="container flex vcenter fade-in-module">
        <div class="newsletter-text">
            <h1 class="h1_newsletter_cta">{% t pages.index.newsletter.part1 %}</h1>
        </div>
        <form class="newsletter_cta_form form flex stretch" data-name="Email Form" id="email-form-newsletter" name="email-form-newsletter" action="#" netlify>
            <div class="newsletter-form-adress">
                <input data-name="Email" id="email" maxlength="256" name="email" placeholder="{% t pages.index.newsletter.placeholder %}"
                    required="required" type="email">
                <input data-name="Lang" id="lang" maxlength="2" name="lang" value="{{ site.lang }}" required="required" type="hidden">
            </div>
            <div class="newsletter-form-button">
                <input class="newsletter_cta_btn btn" data-wait="Please wait..." type="submit" style="background-color: #017ec5 !important;" value="{% t pages.index.newsletter.button %}">
            </div>
        </form>
        <div class="success form-done">
            <div>{% t pages.index.newsletter.thanks %}</div>
        </div>
        <div class="error form-fail">
            <div>{% t pages.index.newsletter.oops %}</div>
        </div>
    </div>
</div>
<div class="cio-sponsors">
    <div class="container">
        <img src="/images/cio-partners/logo_olympic.png" alt="olympic" class="come-in-module">
        <ul class="sponsors-list come-in-module">
            <li>
                <img src="/images/cio-partners/Coca-Cola_logo_200.png" alt="Coca-Cola">
            </li>
            <li>
                <img src="/images/cio-partners/alibaba-logo_200.png" alt="Alibaba Group">
            </li>
            <li>
                <img src="/images/cio-partners/Atos_logo_200.png" alt="Atos">
            </li>
            <li>
                <img src="/images/cio-partners/Bridgestone_logo_200.png" alt="Bridgestone">
            </li>
            <li>
                <img src="/images/cio-partners/Dow_logo_200.png" alt="Dow">
            </li>
            <li>
                <img src="/images/cio-partners/GE_logo_200.png" alt="GE">
            </li>
            <li>
                <img src="/images/cio-partners/Intel_logo_200.png" alt="Intel">
            </li>
            <li>
                <img src="/images/cio-partners/Omega_logo_200.png" alt="Omega">
            </li>
            <li>
                <img src="/images/cio-partners/Panasonic_logo_200.png" alt="Panasonic">
            </li>
            <li>
                <img src="/images/cio-partners/PG_logo_200.png" alt="PG">
            </li>
            <li> 
                <img src="/images/cio-partners/Samsung_logo_200.png" alt="Samsung">
            </li>
            <li>
                <img src="/images/cio-partners/Toyota_logo_200.png" alt="Toyota">
            </li>
            <li>
                <img src="/images/cio-partners/Visa_logo_200.png" alt="Visa">
            </li>
        </ul>
    </div>
</div>
