--- 
layout: default
---
{% assign document = site.prismicData.single.page_home %}

{% include carousel.html %}

{% if site.lang == "fr-fr" or site.lang == "de-de" or site.lang == "en-gb" or site.lang == "it-it" %} 
<div class="news_section">
    <div class="container">
        <h1 class="h1_big_news come-in-module">{{document.fragments.news_title.text}}</h1>
        <div class="row come-in-module">
            {% assign news = site.prismicData.collections.news | sort:'fragments.publication_date.date' | reverse  %}
            {% for news_item in news limit:3 %}     
            <div class="come-in-module col-sm-6 col-md-4">
                <a class="wrap_a" href="/{{ site.langShort }}/news/{{ news_item.slug }}">
                    <div class="new col-md-12">
                        <div class="wrap_media">
                            <picture class="grow">
                                <source srcset="{{ news_item.fragments.image.url }}" media="(max-width: 400px)">
                                <source srcset="{{ news_item.fragments.image.view_mobile_url }}" media="(max-width: 768px)">
                                <source srcset="{{ news_item.fragments.image.url }}" media="(min-width: 768px)">
                                <img class="grow" src="{{news_item.fragments.image.view_mobile_url }}" alt="{{ news_item.fragments.image.alt }}">
                            </picture>
                        </div>
                        <h1 class="h1_news">
                            {{news_item.fragments.title.text}}
                        </h1>
                        <p class="p_news">
                            {{ news_item.fragments.lead.text | markdownify | newline_to_br | remove: '<p>' | remove: '</p>'}} 
                        </p>
                    </div>
                </a>
                <div class="new_meta">
                    <p class="news_date">
                        <time pubdate datetime="{{news_item.fragments.publication_date.date | date_to_xmlschema}}" title="{{news_item.fragments.publication_date.date | date_to_xmlschema | date: '%d.%m'}}">{{news_item.fragments.publication_date.date | date_to_xmlschema | date: "%d.%m.%Y"}}</time>
                        <a href="/{{ site.langShort }}/news/{{ news_item.slug | split:'.html' | first }}">{{document.fragments.individual_news_link_to_read_more.text}}</a>
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="more-news-button come-in-module">
            <a class="more-news-btn" rel="noopener noreferrer" href="/{{ site.langShort }}/news/">
                {{document.fragments.news_link_to_watch_all.text}}
            </a>
        </div>
    </div>
</div>
{% endif %}
<div class="newsletter_cta">
    <div class="container flex vcenter come-in-module">
        <div class="newsletter-text">
            <h1 class="h1_newsletter_cta">{{ document.fragments.newsletter_heading.text }}</h1>
        </div>
        <form class="newsletter_cta_form form flex stretch" data-name="Email Form" id="email-form-newsletter" name="email-form-newsletter" action="#" netlify>
            <div class="newsletter-form-adress">
                <input data-name="Email" id="email" maxlength="256" name="email" placeholder="{{ document.fragments.newsletter_email_placeholder.text }}"
                    required="required" type="email">
                <input data-name="Lang" id="lang" maxlength="2" name="lang" value="{{ site.lang }}" required="required" type="hidden">
            </div>
            <div class="newsletter-form-button">
                <input class="newsletter_cta_btn btn" style="background-color: #0180c0;" data-wait="Please wait..." type="submit" value="{{ document.fragments.newsletter_submit_button.text }}">
            </div>
        </form>
        <div class="success form-done">
            <div>{{ document.fragments.newsletter_success.text }}</div>
        </div>
        <div class="error form-fail">
            <div>{{ document.fragments.newsletter_error.text }}</div>
        </div>
    </div>
</div>
<div class="socials_cta">
    <div class="container vcenter come-in-module">
        <div class="col-md-12 socials-text" style="text-align: center;">
            <div class="col-md-12">
		<h1 class="h1_newsletter_cta">Suivez-nous partout!</h1>
	    </div>
        </div>
	</br>
        <div class="col-md-12 socials-icon-cta">
	    <div class="col-md-1 col-md-offset-4">
	    	<a class="socials_links facebook" href="https://www.facebook.com/lausanne2020/" target="_blank" rel="noopener">
	      	    <img height="60" src="/images/layout/facebook-wh-icon.png">
	    	</a>
	    </div>
	    <div class="col-md-1">
            	<a class="socials_links instagram" href="https://www.instagram.com/lausanne2020" target="_blank" rel="noopener">
	      	    <img height="60" src="/images/layout/Instagram-wh-logo.png">
	    	</a>
	    </div>
	    <div class="col-md-1">
	    	<a class="socials_links twitter" href="https://twitter.com/lausanne2020" target="_blank" rel="noopener">
	      	    <img height="50" src="/images/layout/Twitter-wh-icon.png">
	    	</a>
	    </div>
	    <div class="col-md-1">
	    	<a class="socials_links youtube" href="https://www.youtube.com/channel/UCcEgzQvjtLp7UCdsXfuHbyQ" target="_blank" rel="noopener">
	      	    <img height="50" src="/images/layout/YouTube-wh-icon.png">
	    	</a>
	    </div>
        </div>
    </div>
</div>
<div class="previous_yog" style="text-align: center;">
    <div class="col-md-12 previous_yog_text come-in-module">
	<h1 class="h1_previous_yog">Les précédents Jeux Olympiques de la Jeunesse</h1><br>
    </div>
    <div class="col-md-12 previous_yog_icons come-in-module">
	<div class="col-md-2 col-md-offset-2 col-xs-6">
            <a href="https://www.olympic.org/lillehammer-2016" target="_blank" rel="noopener">
                <img height="80" src="/images/home/lillehammer2016.png">
            </a>
        </div>
        <div class="col-md-2 col-xs-6">
            <a href="https://www.olympic.org/nanjing-2014" target="_blank" rel="noopener">
                <img height="80" src="/images/home/Nanjing2014.png">
            </a>
        </div>
        <div class="col-md-2 col-xs-6">
            <a href="https://www.olympic.org/innsbruck-2012" target="_blank" rel="noopener">
                <img height="80" src="/images/home/Innsbruck2012.png">
            </a>
        </div>
        <div class="col-md-2 col-xs-6">
            <a href="https://www.olympic.org/singapore-2010" target="_blank" rel="noopener">
                <img height="80" src="/images/home/Singapore2010.png">
            </a>
        </div>
    </div>
</div>
<div class="incoming_games" style="text-align: center;">
    <div class="col-md-12 incoming_games_text come-in-module">
	<h1 class="h1_incoming_games">Les prochains Jeux Olympiques</h1><br>
    </div>
    <div class="col-md-12 incoming_games_icons come-in-module">
    	<div class="col-md-2 col-md-offset-2 col-xs-6">
            <a href="https://www.pyeongchang2018.com/" target="_blank" rel="noopener">
                <img height="80" src="/images/layout/2018_2.png">
            </a>
        </div>
        <div class="col-md-2 col-xs-6">
            <a href="http://www.buenosaires2018.com/" target="_blank" rel="noopener">
                <img height="80" src="/images/home/BA.png">
            </a>
        </div>
        <div class="col-md-2 col-xs-6">
            <a href="https://tokyo2020.jp/" target="_blank" rel="noopener">
                <img height="80" src="/images/layout/2020_1.png">
            </a>
        </div>
        <div class="col-md-2 col-xs-6">
            <a href="http://www.beijing2022.cn/" target="_blank" rel="noopener">
                <img height="80" src="/images/layout/Beijing_2022_emblem.jpg">
            </a>
        </div>
        <div class="col-md-2 col-md-offset-2 col-xs-6">
            <a href="http://paris2024.org/" target="_blank" rel="noopener">
                <img height="80" src="/images/home/Paris.jpg">
            </a>
        </div>
        <div class="col-md-2 col-xs-6">
            <a href="https://www.olympic.org/la-2028" target="_blank" rel="noopener">
                <img height="80" src="/images/home/LA.png">
            </a>
        </div>
    </div>
</div>
<div class="cio-sponsors">
    <div class="container">
        <img src="/images/cio-partners/logo_olympic.png" alt="olympic" class="come-in-module">
        <ul class="sponsors-list come-in-module">
            <li>
                <img src="/images/cio-partners/Coca-Cola_logo_200.png" alt="Coca-Cola">
            </li>
            <li>
                <img src="/images/cio-partners/alibaba-logo_200.png" alt="Alibaba Group">
            </li>
            <li>
                <img src="/images/cio-partners/Atos_logo_200.png" alt="Atos">
            </li>
            <li>
                <img src="/images/cio-partners/Bridgestone_logo_200.png" alt="Bridgestone">
            </li>
            <li>
                <img src="/images/cio-partners/Dow_logo_200.png" alt="Dow">
            </li>
            <li>
                <img src="/images/cio-partners/GE_logo_200.png" alt="GE">
            </li>
            <li>
                <img src="/images/cio-partners/Intel_logo_200.png" alt="Intel">
            </li>
            <li>
                <img src="/images/cio-partners/Omega_logo_200.png" alt="Omega">
            </li>
            <li>
                <img src="/images/cio-partners/Panasonic_logo_200.png" alt="Panasonic">
            </li>
            <li>
                <img src="/images/cio-partners/PG_logo_200.png" alt="PG">
            </li>
            <li> 
                <img src="/images/cio-partners/Samsung_logo_200.png" alt="Samsung">
            </li>
            <li>
                <img src="/images/cio-partners/Toyota_logo_200.png" alt="Toyota">
            </li>
            <li>
                <img src="/images/cio-partners/Visa_logo_200.png" alt="Visa">
            </li>
        </ul>
    </div>
</div>
