--- 
layout: default
---
{% assign document = site.prismicData.single.page_home %} 
<div class="hero">
	<div class="container">
		{% for post in document.fragments.claims_list.group_documents %}
		<h1 class="the_claim">{{post.fragments.claim.html}}<br/><span class="accent">{{post.fragments.claim_part_2.html}}</span></h1>
		{% endfor %}
	</div>
</div>
<div class="news_section">
	<div class="container">
		<h1 class="h1_big_news">{{document.fragments.news.html}}</h1>
		<div class="row">
			{% for new in site.prismicData.collections.news limit:3 %}
			{% capture link %}{{new.slug}}{% endcapture %}       
			<div class="come-in-module col-sm-6 col-md-4">
				<a class="wrap_a" href="/news/{{ link | datapage_url: dir | split:'.html' | first }}">
					<div class="new col-md-12">
						<div class="wrap_media">
							<img class="grow" src="{{ new.fragments.image.url }}">
						</div>
						<h1 class="h1_news">
							{{new.fragments.title.html}}
						</h1>
						<p class="p_news">
							{{ new.fragments.lead.html | markdownify | newline_to_br | remove: '<p>' | remove: '</p>'}} 
						</p>


					</div>
				</a>
				<div class="new_meta">
					<p class="news_date">
						<time pubdate datetime="{{new.date | date_to_xmlschema}}" title="{{new.date | date_to_xmlschema | date: '%d.%m'}}">{{new.fragments.publication_date.html | date_to_xmlschema | date: "%d.%m.%Y"}}</time>
						<a href="/news/{{ link | datapage_url: dir | split:'.html' | first }}">{{document.fragments.individual_news_link_to_read_more.html}}</a>
					</p>
				</div>
			</div>
			{% endfor %}
		</div>
		<div class="more-news-button">
			<a class="more-news-btn" rel="noopener noreferrer" href="https://www.lausanne2020.com/fr/news">
				{{document.fragments.news_link_to_watch_all.html}}
			</a>
		</div>
	</div>
</div>
<div class="about_yog_section">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h1 class="h1_about_yog">
					{{document.fragments.about_title.html | newline_to_br }}
				</h1>
			</div>
			<div class="col-md-8">
				<p class="about_the_yog_p">
					{{document.fragments.about_content.html | newline_to_br }}
					<strong> <a href="about">{{document.fragments.about_link_more.html | newline_to_br }}</a></strong>
				</p>
			</div>
		</div>
	</div>
</div>
<div class="shop_section">
    <div class="container">
        <h2 class="h2_shop_section" style="margin-top: 50px; margin-bottom: 10px;">{{document.fragments.shop_heading.html}}</h2>
        <a rel="noopener noreferrer" href="{{document.fragments.shop_link.url}}">
            <img src="{{ document.fragments.shop_image.url }}" alt="Shop!" width="50%" style="margin-bottom: 30px;">
        </a>
    </div>
</div>
<div class="newsletter_cta">
    <div class="container flex vcenter fade-in-module">
        <div class="newsletter-text">
            <h1 class="h1_newsletter_cta">{{ document.fragments.newsletter_heading.html }}</h1>
        </div>
        <form class="newsletter_cta_form form flex stretch" data-name="Email Form" id="email-form-newsletter" name="email-form-newsletter" action="#" netlify>
            <div class="newsletter-form-adress">
                <input data-name="Email" id="email" maxlength="256" name="email" placeholder="{{ document.fragments.newsletter_email_placeholder.text }}"
                    required="required" type="email">
                <input data-name="Lang" id="lang" maxlength="2" name="lang" value="{{ site.lang }}" required="required" type="hidden">
            </div>
            <div class="newsletter-form-button">
                <input class="newsletter_cta_btn btn" data-wait="Please wait..." type="submit" value="{{ document.fragments.newsletter_submit_button.html }}">
            </div>
        </form>
        <div class="success form-done">
            <div>to_translate</div>
        </div>
        <div class="error form-fail">
            <div>to_translate</div>
        </div>
    </div>
</div>