--- 
layout: default
---
{% assign document = site.prismicData.single.page_job %} 
<div class="jobs">
	<div class="container">
        <h1>{{ document.fragments.title.text }}</h1>
        
		{% if site.prismicData.collections.jobs == "" or site.prismicData.collections.jobs == nil  %}
			<p>{{ document.fragments.description_no_job.text | markdownify | newline_to_br }}</p>
		{% else %}
			<p>{{ document.fragments.description.text | markdownify | newline_to_br }}</p>
		{%endif %}
		
        {% for job in site.prismicData.collections.jobs %}

            <div class="come-in-module col-sm-6 col-md-4">
                <a class="wrap_a" href="{{ job.fragments.file.url }}">
                    <div class="new col-md-12">
                        <h1 class="h1_news">
                            {{ job.fragments.title.text }}
                        </h1>
						<p class="p_news p_news_from">
                            {{ document.fragments.from.text }} {{ job.fragments.from_date.date | date_to_xmlschema | date: "%d.%m.%Y" }}
						</p>
                        <p class="p_news">
                            {{ job.fragments.description.text | markdownify | newline_to_br | remove: '<p>' | remove: '</p>'}} 
                        </p>

                    </div>
                </a>
                <div class="new_meta">
					<p class="news_date">
                        <time 
                            pubdate datetime="{{job.fragments.publication_date.date | date_to_xmlschema}}" 
                            title="{{job.fragments.publication_date.date | date_to_xmlschema | date: '%d.%m'}}">
                            {{job.fragments.publication_date.date | date_to_xmlschema | date: "%d.%m.%Y"}}
                        </time>

                        <a target="_blank" rel="noopener noreferrer" href="{{ job.fragments.file.url }}">{{ document.fragments.read_file.text }}</a>
                    </p>
                </div>
            </div>
            {% endfor %}

	</div>
</div>
