---
layout: default
---
<div class="latestnews_section">
    <div class="newsletter_cta_wrap container">
      <h1 class="h1_big_news h1_newsletter_cta">Latest news</h1>
      <div class="row">
        {% for new in site.data.contentful.spaces.entries.news limit:3 %}
          <div class="col-nopadd col-md-4">
            <div class="news_wrap">
              <div class="">
                <img src="{{ new.image.url }}">
              </div>
              <h1 class="h1_news">
              {% if site.lang == "fr" %}
                {{ new.titre }}
              {% else %}
                {{ new.titreEn }}
              {% endif %}
              </h1>
              <p class="p_news">
              {% if site.lang == "fr" %}
                {{ new.texte }}
              {% else %}
                {{ new.texteEn }}
              {% endif %}
              </p>
              <div class="news_date">{{new.date | date: "%d.%m.%Y"}}</div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="about_yog_2 about_yog_section">
    <div class="about_yog_wrap container">
      <div class="row_about_yog_1 row">
        <div class="col-md-5">
          <div class="about_img"></div>
        </div>
        <div class="col-md-5">
          <p class="about_the_yog_p floating_txt_right">The Youth Olympic Games are an elite sporting event for young people from all over the world. The sports programme is based on that of the Olympic Games, with 28 sports featured on the summer programme and 7 on the winter programme.</p>
        </div>
      </div>
      <div class="row_about_yog_2 row">
        <div class="col-md-7">
          <p class="about_the_yog_p floating_txt_left">The Youth Olympic Games are an elite sporting event for young people from all over the world. The sports programme is based on that of the Olympic Games, with 28 sports featured on the summer programme and 7 on the winter programme.</p>
        </div>
        <div class="col-md-5">
          <div class="about_img"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="facts facts_2">
    <div class="facts_wrap container">
      <div class="row">
        <div class="col-facts col-facts_1 col-md-3">
          <div class="wrap_facts">
            <h1 class="h1_facts">240</h1>
            <img class="img_facts" src="images/medal.svg" width="100">
            <h1 class="h2_facts">Medals</h1>
          </div>
        </div>
        <div class="col-facts col-md-3">
          <div class="wrap_facts">
            <h1 class="h1_facts">2365</h1>
            <img class="img_facts" src="images/basketball-jersey.svg" width="100">
            <h1 class="h2_facts">Athletes</h1>
          </div>
        </div>
        <div class="col-facts col-facts_1 col-md-3">
          <div class="wrap_facts">
            <h1 class="h1_facts">3rd</h1>
            <img class="img_facts" src="images/shapes.svg" width="100">
            <h1 class="h2_facts">Winter Games</h1>
          </div>
        </div>
        <div class="col-facts col-md-3">
          <div class="wrap_facts">
            <h1 class="h1_facts">206</h1>
            <img class="img_facts" src="images/earth-globe.svg" width="100">
            <h1 class="h2_facts">Countries</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h2>Venues</h2>
    <ul>
    {% for venue in site.data.contentful.spaces.entries.venues %}
      <li>
        <a href="#">
          {% if site.lang == "fr" %}
            {{ venue.titre }}
          {% else %}
            {{ venue.titreEn }}
          {% endif %}
        </a>
      </li>
    {% endfor %}
    </ul>
  </div>
  <div class="map_section" data-ix="scroll-nav">
    <div class="map w-widget w-widget-map" data-disable-scroll="1" data-disable-touch="1" data-widget-latlng="46.519654,6.632273" data-widget-style="terrain" data-widget-zoom="13"></div>
    <div class="map_wrap">
      <img class="map" sizes="(max-width: 991px) 80vw, 50vw" src="images/map_test.png" srcset="images/map_test-p-500x323.png 500w, images/map_test-p-800x517.png 800w, images/map_test-p-1080x697.png 1080w, images/map_test.png 1130w">
    </div>
  </div>