---
layout: default
---
<div class="news-page">
  <div class="container">
    <h1 class="h1_big_news h1_newsletter_cta">News</h1>
    <div class="row">
      {% for new in site.data.contentful.spaces.news.news %}
        <div class="new col-md-4">
            <div>
              <img src="{{ new.image.url }}">
            </div>
            <h1 class="h1_news">
            {% if site.lang == "fr" %}
              {{ new.titre }}
            {% elsif site.lang == "de" %}
              {{ new.titreDe }}
            {% else %}
              {{ new.titreEn }}
            {% endif %}
            </h1>
            <p class="p_news">
              {% if site.lang == "fr" %}
                {{ new.texte | markdownify | newline_to_br | remove: '<p>' | remove: '</p>'}}
              {% elsif site.lang == "de" %}
                {{ new.texteDe | markdownify | newline_to_br | remove: '<p>' | remove: '</p>'}}
              {% else %}
                {{ new.texteEn | markdownify | newline_to_br | remove: '<p>' | remove: '</p>'}}
              {% endif %}
            </p>
            {% capture dir %}news-{{site.lang}}{% endcapture %}
            {% if site.lang == "fr" %}
              {% capture link %}{{new.titre}}{% endcapture %}
            {% elsif site.lang == "de" %}
              {% capture link %}{{new.titreDe}}{% endcapture %}
            {% else %}
              {% capture link %}{{new.titreEn}}{% endcapture %}
            {% endif %}
            <p class="news_date">{{new.date | date: "%d.%m.%Y"}}<a href="/{{ link | datapage_url: dir }}">Lire la suite</a></p>
        </div>
        {% capture modulo %}{{ forloop.index | modulo: 3 }}{% endcapture %}
        {% if modulo == "0" %}
          <div class="clearfix"></div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
