---
layout: default
---
{% assign section1 = site.data.contentful.spaces.sectionSites.sectionSites[0]%}
{% assign section2 = site.data.contentful.spaces.sectionSites.sectionSites[1]%}
<div class="hero hero-discover">
  <div class="enorme_claim_wrap"></div>
</div>
<div class="sites">
  <div class="container">
    <h1>
      {% if site.lang == "fr" %}
        {{ section1.titre }}
      {% else %}
        {{ section1.titreEn }}
      {% endif %}
    </h1>
    <p class="discover_1 discover_p">
      {% if site.lang == "fr" %}
        {{ section1.description | markdownify | remove: '<p>' | remove: '</p>' | newline_to_br}}
      {% else %}
        {{ section1.descriptionEn | markdownify | remove: '<p>' | remove: '</p>' | newline_to_br}}
      {% endif %}
    </p>
    <div class="row-sites row">
      <div class="col-md-3">
        <a class="sqr" title="{{section1.titreSite1}}" href="#">
          <div class="inside">
            <div class="hover">
              <div class="title">{{section1.titreSite1}}</div>
              <div class="description">
                {% if site.lang == "fr" %}
                  {{ section1.descriptionSite1 }}
                {% else %}
                  {{ section1.descriptionSite1En }}
                {% endif %}
              </div>
            </div>
            <div class="img">
              <img src="{{ section1.imageSite1.url }}" alt="{{section1.titreSite1}}">
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <a class="sqr" title="{{section1.titreSite1}}" href="#">
          <div class="inside">
            <div class="hover">
              <div class="title">{{section1.titreSite1}}</div>
              <div class="description">
                {% if site.lang == "fr" %}
                  {{ section1.descriptionSite1 }}
                {% else %}
                  {{ section1.descriptionSite1En }}
                {% endif %}
              </div>
            </div>
            <div class="img">
              <img src="{{ section1.imageSite1.url }}" alt="{{section1.titreSite1}}">
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <a class="sqr" title="{{section1.titreSite1}}" href="#">
          <div class="inside">
            <div class="hover">
              <div class="title">{{section1.titreSite1}}</div>
              <div class="description">
                {% if site.lang == "fr" %}
                  {{ section1.descriptionSite1 }}
                {% else %}
                  {{ section1.descriptionSite1En }}
                {% endif %}
              </div>
            </div>
            <div class="img">
              <img src="{{ section1.imageSite1.url }}" alt="{{section1.titreSite1}}">
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <a class="sqr" title="{{section1.titreSite1}}" href="#">
          <div class="inside">
            <div class="hover">
              <div class="title">{{section1.titreSite1}}</div>
              <div class="description">
                {% if site.lang == "fr" %}
                  {{ section1.descriptionSite1 }}
                {% else %}
                  {{ section1.descriptionSite1En }}
                {% endif %}
              </div>
            </div>
            <div class="img">
              <img src="{{ section1.imageSite1.url }}" alt="{{section1.titreSite1}}">
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="map_section" data-ix="scroll-nav">
  <div id="map">

  </div>
</div>
<div class="sites">
  <div class="container">
    <h1>
      {% if site.lang == "fr" %}
        {{ section2.titre }}
      {% else %}
        {{ section2.titreEn }}
      {% endif %}
    </h1>
    <p class="discover_1 discover_p">
      {% if site.lang == "fr" %}
        {{ section2.description | markdownify | remove: '<p>' | remove: '</p>' | newline_to_br}}
      {% else %}
        {{ section2.descriptionEn | markdownify | remove: '<p>' | remove: '</p>' | newline_to_br}}
      {% endif %}
    </p>
    <div class="row-sites row">
      <div class="col-md-3">
        <div class="sites_thumb" style='background-image: url("{{ section1.imageSite1.url }}"); background-position: 0px 0px; background-size: cover;' data-ix="overlay">
          <div class="overlay_sites">
            <h1 class="h1_overlay">{{section2.titreSite1}}</h1>
            <p class="p_overlay">
              {% if site.lang == "fr" %}
                {{ section2.descriptionSite1 }}
              {% else %}
                {{ section2.descriptionSite1En }}
              {% endif %}
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="sites_thumb" style='background-image: url("{{ section1.imageSite2.url }}"); background-position: 0px 0px;background-size: cover;' data-ix="overlay">
          <div class="overlay_sites">
            <h1 class="h1_overlay">{{section2.titreSite2}}</h1>
            <p class="p_overlay">
              {% if site.lang == "fr" %}
                {{ section2.descriptionSite2 }}
              {% else %}
                {{ section2.descriptionSite2En }}
              {% endif %}
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="sites_thumb" style='background-image: url("{{ section1.imageSite3.url }}"); background-position: 0px 0px;background-size: cover;' data-ix="overlay">
          <div class="overlay_sites">
            <h1 class="h1_overlay">{{section2.titreSite3}}</h1>
            <p class="p_overlay">
              {% if site.lang == "fr" %}
                {{ section2.descriptionSite3 }}
              {% else %}
                {{ section2.descriptionSite3En }}
              {% endif %}
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="sites_thumb" style='background-image: url("{{ section1.imageSite4.url }}"); background-position: 0px 0px;background-size: cover;' data-ix="overlay">
          <div class="overlay_sites">
            <h1 class="h1_overlay">{{section2.titreSite4}}</h1>
            <p class="p_overlay">
              {% if site.lang == "fr" %}
                {{ section2.descriptionSite4 }}
              {% else %}
                {{ section2.descriptionSite4En }}
              {% endif %}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>