---
layout: default
---
{% assign section1 = site.data.contentful.spaces.sectionSites.sectionSites[0]%}
{% assign section2 = site.data.contentful.spaces.sectionSites.sectionSites[1]%}
<div class="hero-discover">
  <div class="enorme_claim_wrap"></div>
</div>
<div class="sites">
  <div class="container fade-in-module">
    <h1>
      {% if site.lang == "fr" %}
        {{ section1.titre }}
      {% elsif site.lang == "de" %}
        {{ section1.titreDe }}
      {% else %}
        {{ section1.titreEn }}
      {% endif %}
    </h1>
    <p class="discover_1 discover_p fade-in-module">
      {% if site.lang == "fr" %}
        {{ section1.description | markdownify | remove: '<p>' | remove: '</p>' | newline_to_br}}
      {% elsif site.lang == "de" %}
        {{ section1.descriptionDe | markdownify | remove: '<p>' | remove: '</p>' | newline_to_br}}
      {% else %}
        {{ section1.descriptionEn | markdownify | remove: '<p>' | remove: '</p>' | newline_to_br}}
      {% endif %}
    </p>
    <div class="row-sites row">
      <div class="col-md-3 col-sm-6 come-in-module">
        <a class="sqr" title="{{section1.titreSite1}}" href="#!">
          <div class="inside">
            <div class="hover">
              <div class="title">
                {{section1.titreSite1}}
              </div>
              <div class="description">
                {% if site.lang == "fr" %}
                  {{ section1.descriptionSite1 }}
                {% elsif site.lang == "de" %}
                  {{ section1.descriptionSite1De }}
                {% else %}
                  {{ section1.descriptionSite1En }}
                {% endif %}
              </div>
            </div>
            <div class="img">
              <img src="{{ section1.imageSite1.url }}" alt="{{section1.imageSite1.description}}">
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-sm-6 come-in-module">
        <a class="sqr" title="{{section1.titreSite2}}" href="#!">
          <div class="inside">
            <div class="hover">
              <div class="title">
                {{section1.titreSite2}}
              </div>
              <div class="description">
                {% if site.lang == "fr" %}
                  {{ section1.descriptionSite2 }}
                {% elsif site.lang == "de" %}
                  {{ section1.descriptionSite2De }}
                {% else %}
                  {{ section1.descriptionSite2En }}
                {% endif %}
              </div>
            </div>
            <div class="img">
              <img src="{{ section1.imageSite2.url }}" alt="{{section1.imageSite2.description}}">
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-sm-6 come-in-module">
        <a class="sqr" title="{{section1.titreSite3}}" href="#!">
          <div class="inside">
            <div class="hover">
              <div class="title">
                {{section1.titreSite3}}
              </div>
              <div class="description">
                {% if site.lang == "fr" %}
                  {{ section1.descriptionSite3 }}
                {% elsif site.lang == "de" %}
                  {{ section1.descriptionSite3De }}
                {% else %}
                  {{ section1.descriptionSite3En }}
                {% endif %}
              </div>
            </div>
            <div class="img">
              <img src="{{ section1.imageSite3.url }}" alt="{{section1.imageSite3.description}}">
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-sm-6 come-in-module">
        <a class="sqr" title="{{section1.titreSite4}}" href="#!">
          <div class="inside">
            <div class="hover">
              <div class="title">
                {{section1.titreSite4}}
              </div>
              <div class="description">
                {% if site.lang == "fr" %}
                  {{ section1.descriptionSite4 }}
                {% elsif site.lang == "de" %}
                  {{ section1.descriptionSite4De }}
                {% else %}
                  {{ section1.descriptionSite4En }}
                {% endif %}
              </div>
            </div>
            <div class="img">
              <img src="{{ section1.imageSite4.url }}" alt="{{section1.imageSite4.description}}">
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="map_section" data-ix="scroll-nav">
  <div id="map">

  </div>
</div>
<div class="sites">
  <div class="container fade-in-module">
    <h1>
      {% if site.lang == "fr" %}
        {{ section2.titre }}
      {% elsif site.lang == "de" %}
        {{ section2.titreDe }}
      {% else %}
        {{ section2.titreEn }}
      {% endif %}
    </h1>
    <p class="discover_1 discover_p fade-in-module">
      {% if site.lang == "fr" %}
        {{ section2.description | markdownify | remove: '<p>' | remove: '</p>' | newline_to_br}}
      {% elsif site.lang == "de" %}
        {{ section2.descriptionDe | markdownify | remove: '<p>' | remove: '</p>' | newline_to_br}}
      {% else %}
        {{ section2.descriptionEn | markdownify | remove: '<p>' | remove: '</p>' | newline_to_br}}
      {% endif %}
    </p>
    <div class="row-sites row">
      <div class="col-md-3 col-sm-6 come-in-module">
        <a class="sqr" title="{{section2.titreSite1}}" href="#!">
          <div class="inside">
            <div class="hover">
              <div class="title">
                {{section2.titreSite1}}
              </div>
              <div class="description">
                {% if site.lang == "fr" %}
                  {{ section2.descriptionSite1 }}
                {% elsif site.lang == "de" %}
                  {{ section2.descriptionSite1De }}
                {% else %}
                  {{ section2.descriptionSite1En }}
                {% endif %}
              </div>
            </div>
            <div class="img">
              <img src="{{ section2.imageSite1.url }}" alt="{{section2.imageSite1.description}}">
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-sm-6 come-in-module">
        <a class="sqr" title="{{section2.titreSite2}}" href="#!">
          <div class="inside">
            <div class="hover">
              <div class="title">
                {{section2.titreSite2}}
              </div>
              <div class="description">
                {% if site.lang == "fr" %}
                  {{ section2.descriptionSite2 }}
                {% elsif site.lang == "de" %}
                  {{ section2.descriptionSite2De }}
                {% else %}
                  {{ section2.descriptionSite2En }}
                {% endif %}
              </div>
            </div>
            <div class="img">
              <img src="{{ section2.imageSite2.url }}" alt="{{section2.imageSite2.description}}">
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-sm-6 come-in-module">
        <a class="sqr" title="{{section2.titreSite3}}" href="#!">
          <div class="inside">
            <div class="hover">
              <div class="title">
                {{section2.titreSite3}}
              </div>
              <div class="description">
                {% if site.lang == "fr" %}
                  {{ section2.descriptionSite3 }}
                {% elsif site.lang == "de" %}
                  {{ section2.descriptionSite3De }}
                {% else %}
                  {{ section2.descriptionSite3En }}
                {% endif %}
              </div>
            </div>
            <div class="img">
              <img src="{{ section2.imageSite3.url }}" alt="{{section2.imageSite3.description}}">
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-sm-6 come-in-module">
        <a class="sqr" title="{{section2.titreSite4}}" href="#!">
          <div class="inside">
            <div class="hover">
              <div class="title">
                {{section2.titreSite4}}
              </div>
              <div class="description">
                {% if site.lang == "fr" %}
                  {{ section2.descriptionSite4 }}
                {% elsif site.lang == "de" %}
                  {{ section2.descriptionSite4De }}
                {% else %}
                  {{ section2.descriptionSite4En }}
                {% endif %}
              </div>
            </div>
            <div class="img">
              <img src="{{ section2.imageSite4.url }}" alt="{{section2.imageSite4.description}}">
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>