---
layout: default
---

{% assign document = site.prismicData.single.page_venues %}

<div class="sites" id="sites1">
  <div class="container fade-in-module">
    <h1>
      {{document.fragments.title_section_1.text}}
    </h1>
    <p class="discover_1 discover_p fade-in-module">
      {{ document.fragments.content_section_1.text | markdownify | remove: '<p>' | remove: '</p>' | newline_to_br}}
    </p>
    {% for post in document.fragments.venues_section_1.group_documents %}
      <div class="row-sites row">
      <div class="col-md-3 col-sm-6 come-in-module">
        <a class="lienSite" title="{{site.prismicData.contentById[post.fragments.venue.id].fragments.title.text}}" target="_blank" rel="noopener noreferrer"
            href='{{site.prismicData.contentById[post.fragments.venue.id].fragments.link.url}}'>
          <div class="blockSite">
            <div class="imgSite">
              <img src="{{site.prismicData.contentById[post.fragments.venue.id].fragments.image.url}}"
                alt="{{site.prismicData.contentById[post.fragments.venue.id].fragments.image.alt}}" />
            </div>
            <div class="textSite">
              {{site.prismicData.contentById[post.fragments.venue.id].fragments.description.text}}
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
    </div>
  </div>
</div>
<div class="map_section" data-ix="scroll-nav">
  <div id="map">

  </div>
</div>
<div class="sites">
  <div class="container fade-in-module">
    <p class="discover_1 discover_p fade-in-module">
      {{ document.fragments.content_section_2.text | markdownify | remove: '<p>' | remove: '</p>' | newline_to_br}}
    </p>
    {% for post in document.fragments.venues_section_2.group_documents %}
      <div class="row-sites row">
      <div class="col-md-3 col-sm-6 come-in-module">
        <a class="lienSite" title="{{site.prismicData.contentById[post.fragments.venue.id].fragments.title.text}}" target="_blank" rel="noopener noreferrer"
            href='{{site.prismicData.contentById[post.fragments.venue.id].fragments.link.url}}'>
          <div class="blockSite">
            <div class="imgSite">
              <img src="{{site.prismicData.contentById[post.fragments.venue.id].fragments.image.url}}"
                alt="{{site.prismicData.contentById[post.fragments.venue.id].fragments.image.alt}}" />
            </div>
            <div class="textSite">
              {{site.prismicData.contentById[post.fragments.venue.id].fragments.description.text}}
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</div>
<div class="sites" id="sites2">
  <div class="container fade-in-module">
    <h1 class="venues_title">
      {{ document.fragments.title_section_3.text }}
    </h1>
    <div class="venues_txt">
      {{ document.fragments.content_section_3.html}}
    </div>
    <div class="venues_img">
      <img src="{{ document.fragments.image_1_section_3.url }}" alt="{{ document.fragments.image_1_section_3.alt }}" />
    </div>
    <div class="venues_txt">
      {{ document.fragments.content_part_2_section_3.html }}
    </div>
    <div class="venues_img">
      <img src="{{ document.fragments.image_part_2_section_3.url }}" alt="{{ document.fragments.image_part_2_section_3.alt }}" />
    </div>
  </div>     
</div>  