{% if site.lang == "en" %}
  {% assign nav = site.data.nav-footer.en %}
{% endif %}
{% if site.lang == "fr" %}
  {% assign nav = site.data.nav-footer.fr %}
{% endif %}
{% if site.lang == "de" %}
  {% assign nav = site.data.nav-footer.de %}
{% endif %}
{% if site.lang == "it" %}
  {% assign nav = site.data.nav-footer.it %}
{% endif %}

<div class="footer">
  <div class="container">
    <div class="row flex vcenter">
      <div class="footer_logo col-md-4">
        <img src="/images/layout/Lausanne2020-Emblem-white.png" width="307">
      </div>
      <div class="footer_copy col-md-4">
        <p>copyrights © 2017 | Lausanne2020</p>
        <p><a href="{% t pages.index.privacy.link %}" target="_blank" rel="noopener noreferrer">{% t pages.index.privacy.text %}</a></p>
        <p>Built with ❤ by <a target="_blank" rel="noopener noreferrer" href="http://blog.comem.ch/2017/05/04/les-jeux-olympiques-du-code/">HEIG-VD</a></p>
      </div>
      <div class="footer_nav col-md-4">
        <ul class="list-unstyled">
          {% for link in nav %}
          <li>
            <a href="{{link.path}}">{{link.title}}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="botbar">
  <div class="container">
    <div class="row">
      <div class="col-md-8 footer-pics">
        <div class="row">

          <div class="col-md-2 col-xs-6">
            <a href="{% t footer.link.pyeongChang %}" target="_blank" rel="noopener">
              <img height="80" src="/images/layout/2018_2.png">
            </a>
          </div>
          <div class="col-md-2 col-xs-6">
            <a href="{% t footer.link.buenos %}" target="_blank" rel="noopener">
              <img height="80" src="/images/home/BA.png">
            </a>
          </div>
          <div class="col-md-2 col-xs-6">
            <a href="{% t footer.link.tokyo %}" target="_blank" rel="noopener">
              <img height="80" src="/images/layout/2020_1.png">
            </a>
          </div>
          <div class="col-md-2 col-xs-6">
            <a href="{% t footer.link.beijing %}" target="_blank" rel="noopener">
              <img height="80" src="/images/layout/Beijing_2022_emblem.jpg">
            </a>
          </div>
          <div class="col-md-2 col-xs-6">
            <a href="{% t footer.link.paris %}" target="_blank" rel="noopener">
              <img height="80" src="/images/home/Paris.jpg">
            </a>
          </div>
          <div class="col-md-2 col-xs-6">
            <a href="{% t footer.link.losAngeles %}" target="_blank" rel="noopener">
              <img height="80" src="/images/home/LA.png">
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4 footer-pics">
        <div class="links_social">
          <a href="https://www.instagram.com/lausanne2020" target="_blank" rel="noopener">
            <img height="40" src="/images/layout/Instagram-logo.png">
          </a>
          <a href="https://www.facebook.com/lausanne2020/" target="_blank" rel="noopener">
            <img height="40" src="/images/layout/facebook-icon.png">
          </a>
          <a href="https://twitter.com/lausanne2020" target="_blank" rel="noopener">
            <img height="28" src="/images/layout/twitter-icon.svg">
          </a>
          <a href="https://www.youtube.com/channel/UCcEgzQvjtLp7UCdsXfuHbyQ" target="_blank" rel="noopener">
              <img height="28" src="/images/layout/YouTube-icon.png">
            </a>
        </div>
      </div>
    </div>
  </div>
</div>
