<head>
  <meta charset="utf-8">
  <meta name=viewport content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% t meta.desc %}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.baseurl_root }}">

  <link rel="stylesheet" href="{{ "/css/vendors/normalize.min.css" | prepend: site.baseurl_root }}">
  <link rel="stylesheet" href="{{ "/css/vendors/bootstrap.min.css" | prepend: site.baseurl_root }}">
  <link rel="stylesheet" href="{{ "/css/style-top.css" | prepend: site.baseurl_root }}">
  <script rel="preload" src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script rel="preload" type="text/javascript">
    WebFont.load({
      google: {
        families: ["Montserrat:400,700","Sanchez:regular,italic"]
      }
    });
  </script>
  <link rel="icon" type="image/png" href="/favicon.png" sizes="32x32">

</head>
