body {
    font-family: Montserrat, sans-serif;
}

textarea {
    resize: vertical;
}

// Hidden field in form contact against bot spam (leave the name in french)
.cache {
    display: none;
}

.links_social {
    padding: 17px 0; // For polyfill
    padding: 1vmin 0;
    text-align: right;
}

.botbar {
    padding-top: 20px;
    padding-bottom: 20px;
    a:hover,
    a:focus {
        text-decoration: none;
    }
}

@media (max-width: 992px) {
    .footer-pics {
        text-align: center;
    }
    .footer-pics .links_social {
        text-align: center;
    }
    .footer_link {
        text-align: center;
    }
    .footer_logo {
        text-align: center;
    }
    .copy {
        margin-bottom: 20px;
    }
    .top_footer {
        left: 0px;
        top: -61px;
        right: 0px;
    }
    .botbar .links_social {
        padding: 20px 0 10px 0;
        padding: 4vmin 0 1vmin 0;
    }
}

.links_games {
    margin-right: 20px;
}


/* Box-shadow Inset */

#main>div:nth-last-of-type(2n+1):not(.hero):not(.botbar):not(.footer) {
    -webkit-box-shadow: inset 10px 10px 59px -10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 10px 10px 59px -10px rgba(0, 0, 0, 0.4);
    box-shadow: inset 10px 10px 59px -10px rgba(0, 0, 0, 0.4);
}
