.the_claim {
    @media (max-width: 1350px) {
        font-size: 30px;
        line-height: 35px;
    }
    @media (max-width: 767px) {
        font-size: 15px;
        line-height: 25px;
    }
}

.shop_section {
    text-align: center;
}

.h1_shop_section {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 30px;
}

.h2_shop_section {
    text-align: center;
    margin-bottom: 50px;
    font-size: 24px;
}

#text_video {
    margin-bottom: 50px;
}

#more_video {
    margin-top: 25px;
}
.the_claim {
    position: absolute;
    color: #FFFFFF;
    width: inherit;
    font-size: 45px;
    line-height: 70px;
    font-weight: 700;
    text-transform: uppercase;
    opacity: 0;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.about_yog_section {
    height: auto;
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: $purple-primary;
}

.h1_about_yog {
    margin-top: 20px;
    font-size: 58px;
    line-height: 60px;
    text-transform: uppercase;
    font-weight: bold;
}

.about_the_yog_p {
    margin-top: 20px;
}

.marchandising_section {
    padding-bottom: 30px;
}

.shop_cta {
    color: $purple-primary;
}

.newsletter-text {
    padding-right: 10px;
    max-width: 50%;
    @media(max-width: 991px) {
        max-width: 100%;
        padding-right: 0;
    }
}

.newsletter-cta-btn.btn {
    background-color: #017ec5;
}

.newsletter_cta_form {
    margin: 0;
    width: 100%;
    .newsletter-form-adress {
        width: 75%;
        padding-right: 20px;
        padding-left: 20px;
    }
    input {
        margin: 0;
    }
    @media(max-width: 991px) {
        @include flex-direction(row);
        .newsletter-form-adress {
            width: 100%;
        }
    }
}

.cio-sponsors {
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center; // First olympic banner
    .container>img {
        padding-bottom: 40px;
        width:325px;
    }
    .sponsors-list {
        padding-left: 0;
    }
    .sponsors-list li {
        display: inline-block;
        vertical-align: middle;
        margin: 0 34px 30px;
        width: 140px;
    }
}

.carousel_container {
    margin-top: 150px;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 100% !important;
    max-width:1880px !important;
    padding: 0 !important;
    @media (max-width: 991px) {
        margin-top: 210px;
    }
    @media (max-width: 767px) {
        margin-top: 125px;
    }
}
.main-text {
    position: absolute;
    top: 50px;
    width: 96.66666666666666%;
    color: #FFF;
}
