.carousel_container {
    padding-top: 188px;
}

/* Carousel Styles */
.carousel-indicators .active {
    background-color: #d4016f;
}

.carousel-inner img {
    width: 100%;
    max-height: 460px
}

.carousel-control {
    width: 0;
}

.carousel-control.left,
.carousel-control.right {
	opacity: 1;
	filter: alpha(opacity=100);
	background-image: none;
	background-repeat: no-repeat;
	text-shadow: none;
}

.carousel-control.left span {
	padding: 15px;
}

.carousel-control.right span {
	padding: 15px;
}

.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right, 
.carousel-control .icon-prev, 
.carousel-control .icon-next {
	position: absolute;
	top: 45%;
	z-index: 5;
	display: inline-block;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
	left: 0;
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
	right: 0;
}

.carousel-control.left span,
.carousel-control.right span {
	background-color: transparent;
}

.carousel-control.left span:hover,
.carousel-control.right span:hover {
	opacity: .7;
	filter: alpha(opacity=70);
}

/* Carousel Header Styles */
.header-text {
    position: absolute;
    top: 20%;
    left: 1.8%;
    right: auto;
    width: 96.66666666666666%;
    color: #d4016f;
}

.header-text h2 {
    font-size: 40px;
}

.header-text h2 span {
    background-color: #0180c0;
    color: #fff;
    padding: 10px;
}

.header-text h3 {    
    margin-top: 100px;
}

.header-text h3 span {
    background-color: #d4016f;
    color: #fff;
    padding: 15px;
}

.btn-min-block {
    min-width: 170px;
    line-height: 26px;
}

.btn-theme {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    margin-right: 15px;
}

.btn-theme:hover {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}

.shop_section {
    text-align: center;
}

.h1_shop_section {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 30px;
}

.h2_shop_section {
    text-align: center;
    margin-bottom: 50px;
    font-size: 24px;
}

.about_yog_section {
    height: auto;
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: $purple-primary;
}

.h1_about_yog {
    margin-top: 20px;
    font-size: 58px;
    line-height: 60px;
    text-transform: uppercase;
    font-weight: bold;
}

.about_the_yog_p {
    margin-top: 20px;
}

.marchandising_section {
    padding-bottom: 30px;
}

.shop_cta {
    color: $purple-primary;
}

.newsletter-text {
    padding-right: 10px;
    max-width: 50%;
    @media(max-width: 991px) {
        max-width: 100%;
        padding-right: 0;
    }
}

.newsletter-cta-btn {
    background-color: #0180c0 !important;
}

.newsletter_cta_form {
    margin: 0;
    width: 100%;
    .newsletter-form-adress {
        width: 75%;
        padding-right: 20px;
        padding-left: 20px;
    }
    input {
        margin: 0;
    }
    @media(max-width: 991px) {
        @include flex-direction(row);
        .newsletter-form-adress {
            width: 100%;
        }
    }
}

.cio-sponsors {
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center; // First olympic banner
    .container>img {
        padding-bottom: 40px;
        width:325px;
    }
    .sponsors-list {
        padding-left: 0;
    }
    .sponsors-list li {
        display: inline-block;
        vertical-align: middle;
        margin: 0 34px 30px;
        width: 140px;
    }
}
