html .hero {
    background-image: url('../images/home/2YTG-2.png');
    background-size: cover;
    height: 900px;
    @media (max-width: 1921px) {
        height: 900px;
    } // Width of image
    @media (max-width: 1651px) {
        height: 800px;
    }
    @media (max-width: 1501px) {
        height: 700px;
        .the_claim {
            font-size: 30px;
            line-height: 40px;
            font-weight: 600;
        }
    }
    @media (max-width: 1250px) {
        height: 600px;
        margin-top: 50px;
    }
    @media (max-width: 1155px) {
        height: 500px;
        margin-top:100px;
    }
    @media (max-width: 990px) {
        height: 400px;
        margin-top:150px;
    }
    @media (max-width: 830px) {
        height: 400px;
        margin-top:150px;
        .the_claim {
            font-size: 20px;
            line-height: 30px;
            font-weight: 600;
            padding-left:30px;
        }
    }
    @media (max-width: 767px) {
        height:300px;
        margin-top: 80px;
    }
    @media (max-width: 680px) {
        height: 300px;
        margin-top: 80px;
    }
    @media (max-width: 550px) {
        height: 200px;
        margin-top: 80px;
        .the_claim {
            font-size: 10px;
            line-height: 20px;
            font-weight: 600;
            padding-left:30px;
            padding-top:10px;
        }
    }
    .container {
        padding: 150px 0 0 0;
        @media (max-width: 1155px) {
            padding-top: 50px;
        }
        @media (max-width: 650px) {
            padding-top: 20px;
        }
    }
}

.shop_section {
    text-align: center;
}

.h1_shop_section {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 30px;
}

.h2_shop_section {
    text-align: center;
    margin-bottom: 50px;
    font-size: 24px;
}

#text_video {
    margin-bottom: 50px;
}

#more_video {
    margin-top: 25px;
}
.the_claim {
    position: absolute;
    color: #FFFFFF;
    width: inherit;
    font-size: 45px;
    line-height: 50px;
    font-weight: 600;
    text-transform: uppercase;
    opacity: 0;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.about_yog_section {
    height: auto;
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: $purple-primary;
}

.h1_about_yog {
    margin-top: 20px;
    font-size: 58px;
    line-height: 60px;
    text-transform: uppercase;
    font-weight: bold;
}

.about_the_yog_p {
    margin-top: 20px;
}

.marchandising_section {
    padding-bottom: 30px;
}

.shop_cta {
    color: $purple-primary;
}

.newsletter-text {
    padding-right: 10px;
    max-width: 50%;
    @media(max-width: 991px) {
        max-width: 100%;
        padding-right: 0;
    }
}

.newsletter-cta-btn.btn {
    background-color: #017ec5;
}

.newsletter_cta_form {
    margin: 0;
    width: 100%;
    .newsletter-form-adress {
        width: 75%;
        padding-right: 20px;
        padding-left: 20px;
    }
    input {
        margin: 0;
    }
    @media(max-width: 991px) {
        @include flex-direction(row);
        .newsletter-form-adress {
            width: 100%;
        }
    }
}

.cio-sponsors {
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center; // First olympic banner
    .container>img {
        padding-bottom: 40px;
        width:325px;
    }
    .sponsors-list {
        padding-left: 0;
    }
    .sponsors-list li {
        display: inline-block;
        vertical-align: middle;
        margin: 0 34px 30px;
        width: 140px;
    }
}
