html .hero {
    background-image: url('../images/home/lausanne_overview4.jpg');
    background-size: cover;
    height: 900px;
    @media (max-width: 1921px) {
        height: 900px;
    } // Width of image
    @media (max-width: 1651px) {
        height: 900px;
    }
    @media (max-width: 1450px) {
        height: 900px;
    }
    @media (max-width: 1250px) {
        height: 700px;
    }
    @media (max-width: 1050px) {
        height: 700px;
    }
    @media (max-width: 850px) {
        height: 700px;
    }
    @media (max-width: 650px) {
        height: 400px;
    }
    @media (max-width: 479px) {
        height: 400px;
    }
    @media (max-width: 450px) {
        height: 400px;
    }
    .container {
        padding: 305px 0 0 0;
        @media (max-width: 650px) {
            padding-top: 165px;
        }
    }
}

.video_section {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#text_video {
    margin-bottom: 50px;
}

#more_video {
    margin-top: 25px;
}
.the_claim {
    position: absolute;
    color: #FFFFFF;
    width: inherit;
    font-size: 81px;
    line-height: 90px;
    font-weight: 700;
    text-transform: uppercase;
    opacity: 0;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

@media (max-width: 1350px) {
    .the_claim {
        font-size: 30px;
        line-height: 35px;
    }
}

.about_yog_section {
    height: auto;
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: $purple-primary;
}

.h1_about_yog {
    margin-top: 20px;
    font-size: 58px;
    line-height: 60px;
    text-transform: uppercase;
    font-weight: bold;
}

.about_the_yog_p {
    margin-top: 20px;
}

.marchandising_section {
    padding-bottom: 30px;
}

.shop_cta {
    color: $purple-primary;
}

.newsletter-text {
    padding-right: 10px;
    max-width: 50%;
    @media(max-width: 991px) {
        max-width: 100%;
        padding-right: 0;
    }
}

.newsletter_cta_form {
    margin: 0;
    width: 100%;
    .newsletter-form-adress {
        width: 75%;
        padding-right: 20px;
        padding-left: 20px;
    }
    input {
        margin: 0;
    }
    @media(max-width: 991px) {
        @include flex-direction(row);
        .newsletter-form-adress {
            width: 100%;
        }
    }
}

.cio-sponsors {
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center; // First olympic banner
    .container>img {
        padding-bottom: 40px;
        width:325px;
    }
    .sponsors-list {
        padding-left: 0;
    }
    .sponsors-list li {
        display: inline-block;
        vertical-align: middle;
        margin: 0 34px 30px;
        width: 140px;
    }
}
