.jobs{
	background-image: url('../images/bkg_3.png');
    background-position: 0px 0px;
    background-size: cover;
    margin-top: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
    h1,p{
    	color: white;
    }
    p{
	    margin-top: 20px;
		font-family: Montserrat, sans-serif;
		color: #fff;
		font-size: 19px;
		line-height: 42px;
		font-weight: 400;
    }
    a{
        color: #fff;
        text-decoration: underline;
    }
}