.news-page {
    .archive-links {
        text-align: center;
    }
}

.new {
    height: 400px;
    position: relative;
    background-color: #fff;
    padding: 0;
    .wrap_media {
        height: 200px;
        img {
            height: 200px;
            width: 100%;
            object-fit: cover;
            font-family: 'object-fit: cover;'
        }
    }
    h1,
    p {
        padding: 5px 20px;
    }
    >div {
        z-index: 1;
        overflow: hidden;
    }
}

.h1_news {
    margin-bottom: 10px;
    color: $blue-primary;
    font-family: Sanchez, sans-serif;
    font-size: 26px;
    line-height: 32px;
    @media (max-width: 700px) {
        font-size: 18px;
        line-height: 24px;
    }
}

.p_news {
    padding-bottom: 10px;
    color: $gray-text;
    font-size: 14px;
    line-height: 20px;
}

.p_news a {
    color: #000000;
}

.new_meta {
    margin-bottom: 20px;
    background: #fff;
    .news_date {
        padding: 10px 20px;
    }
}

.news_date {
    margin: 0;
    color: $gray-text-less;
    font-size: 12px;
    a {
        float: right;
        color: $blue-primary;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}
