.news-page {
    margin-top: 170px;
    .archive-links {
        margin-top: 20px;
        margin-bottom: 20px;
        a {
            text-decoration: underline;
            margin-right: 10px;
        }
    }
}

.news_section .new,
.news-page .new {
    cursor: pointer;
}

.news_section,
.news-page {
    background-image: url(../images/bkg_blue.png);
    padding-bottom: 50px;
    padding-top: 20px;
    .h1_big_news {
        color: #fff;
    }
    .new {
        height: 400px;
        position: relative;
        background-color: #fff;
        padding: 0;
        .wrap_media {
            height: 200px;
        }
        .p_news {
            padding-bottom: 10px;
            color: #505050;
        }
        .h1_news {
            margin-bottom: 10px;
            color: #0087cd;
            font-size: 26px;
            line-height: 32px;
            @media (max-width: 700px) {
                font-size: 18px;
                line-height: 24px;
            }
        }
        p {
            text-align: justify;
        }
        h1,
        p {
            padding: 5px 20px;
        }
        >div {
            z-index: 1;
            overflow: hidden;
        }
    }
    .new_meta {
        margin-bottom: 20px;
        background: #fff;
        .news_date {
            padding: 10px 20px;
            a {
                float: right;
            }
        }
    }
}