@keyframes come-in {
    to {
        transform: translateY(0);
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeindown{
	from{
		transform: translate(0px, -31px);
		opacity:0;

	}
	to{
		transform: translate(0px, 0px);
		opacity:1;
	}
}

.anim_fadeindown {
	animation-name: fadeindown;
	animation-duration: 1s;
	animation-iteration-count: 1;
}

@keyframes fadeintop{
	from{
		transform: translate(0px, 30px);
		opacity:0;

	}
	to{
		transform: translate(0px, 0px);
		opacity:1;
	}
}

.anim_fadeintop {
	animation-name: fadeintop;
	animation-duration: 1s;
	animation-iteration-count: 1;
}

@keyframes fadeinscaleup{
	from{
		transform: scale(0.67);
		opacity:0;

	}
	to{
		transform: scale(1);
		opacity:1;
	}
}

.anim_fadeinscaleup {
	animation-name: fadeintop;
	animation-duration: 1s;
	animation-iteration-count: 1;
}
