.icon-twitter,
.icon-facebook {
    color: #858585;
}

.icon-twitter:hover {
    color: #1da1f2;
}

.icon-facebook:hover {
    color: #3b5998;
}

.social_wall {
    color: $purple-primary;
    a {
        text-decoration: none;
    }
    .container {
        padding: 0;
        padding: 40px 0;
    }
    .item {
        font-family: Montserrat, sans-serif;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .wrap_item {
        height: 400px;
        background: #fff;
    }
    .wrap_media {
        height: 202px;
        overflow: hidden;
        >a>img,
        >img,
        >a>iframe,
        >iframe,
        >video {
            height: 202px;
            /* Precise to avoid black line on iframe video */
            width: 100%;
            object-fit: cover;
        }
        >video.fullscreen {
            object-fit: contain;
        }
        /* Social_wall Blockquote */
        blockquote {
            overflow: hidden;
            margin: 0;
            height: 115px;
            position: absolute;
            background: #FAFAFA;
            opacity: 0;
            top: 102px;
            right: 15px;
            left: 15px;
            border: 0;
            &:hover {
                transition: all 0.4s ease-in-out;
                opacity: 0.9;
            }
            h1,
            h1 a {
                font-size: 14px;
                line-height: 20px;
                color: $purple-primary;
                word-break: break-all;
                margin: 0;
            }
            p.desc {
                font-size: 12px;
                margin-top: 5px;
                margin-bottom: 5px;
                color: #858585;
                a {
                    color: #858585;
                }
            }
            cite,
            cite a {
                font-size: 10px;
                color: #b6b6b6;
            }
            .status_box {
                max-height: 165px;
                position: relative;
                overflow: hidden;
            }
        }
    }
    // Quote without media
    .no_media .wrap_media blockquote {
        opacity: 0.9;
        height: 202px;
        top: 15px;
    }
    // Status
    .user_info {
        padding: 20px 20px 0 20px;
        margin-right: 0;
        .profil_image,
        .user_info,
        .wrap_user_name,
        .icon_social {
            margin: 0;
            padding: 0;
        }
        .profile_image {
            margin-right: 5px;
            img {
                /*border-radius: 50%;*/
                width: 55px;
            }
        }
        .wrap_user_name {
            margin-left: -5px;
            .user,
            .username {
                padding: 0;
                margin: 0;
                line-height: 0;
            }
            .user a {
                font-size: 18px;
                line-height: 24px;
                color: $purple-primary;
            }
            .username a {
                color: #b6b6b6;
                font-size: 14px;
                line-height: 20px;
                font-weight: 300;
            }
        }
    }
    /* Status/message */
    p.status {
        padding: 10px 20px;
        margin-bottom:10px;
        color: #858585;
        font-size: 13px;
        line-height: 20px;
        font-family: sans-serif;
        a,
        a:visited,
        a:active,
        a:link {
            color: $blue-primary;
            font-size: 13px;
        }
        a:hover {
            color: #666;
        }
    }
    /* Social_wall meta info */
    .meta_info {
        width: 100%;
        position: relative;
        background: #fff;
        padding: 10px 20px;
        a {
            padding: 2px;
        }
        time {
            color: #b6b6b6;
            font-size: 12px;
        }
        .icon_social {
            float: right;
        }
    }
}