---
layout: default
---
{% capture pageyear %}{{ page.year }}{% endcapture %}
{% capture nowyear %}{{ site.time | date: '%Y' }}{% endcapture %}
<div class="news-page">
  <div class="container">
    <h1 class="h1_big_news h1_newsletter_cta">{{ site.prismicData.single.base.fragments.news_years_archives_title.text }} {{page.year}}</h1>
    <div class="row">
      <div class="news_section">
      	{% assign newsinverted = site.prismicData.collections.news | sort:'fragments.publication_date.date' | reverse  %}
      	{% assign offsetdependonyear = 9 %}
      	{% if pageyear < nowyear %}
      		{% assign offsetdependonyear = 0 %}
      	{% endif %}
	      {% for news in newsinverted offset:offsetdependonyear  %}
	      	{% capture newyear %}{{ news.fragments.publication_date.date | date: '%Y' }}{% endcapture %}
	      	{% if newyear == pageyear %}
	        <div class="come-in-module col-sm-6 col-md-4">
           <a class="wrap_a" href="/{{ site.langShort }}/news/{{ news.slug }}">
              <div class="new col-md-12">
                  <div class="wrap_media">
                    <img class="grow" alt="{{ news.fragments.image.alt }}" src="{{ news.fragments.image.url }}" srcset="{{ news.fragments.image.url }} {{ news.fragments.image.width }}w, {{ news.fragments.image.view_mobile_url }} {{ news.fragments.image.view_mobile_width }}w">
                  </div>
                  <h1 class="h1_news">
                      {{ news.fragments.title.text }}
                  </h1>
                  <p class="p_news">
                      {{ news.fragments.lead.text  | markdownify | newline_to_br | remove: '<p>' | remove: '</p>'}}
                  </p>
              </div>
            </a>
            <div class="new_meta">
              <p class="news_date">
                  <time pubdate datetime="{{news.fragments.publication_date.date | date_to_xmlschema}}" title="{{news.fragments.publication_date.date | date_to_xmlschema | date: '%d.%m'}}">{{news.fragments.publication_date.date | date_to_xmlschema | date: "%d.%m.%Y"}}</time>
                  <a href="/{{site.lang}}/news/{{ news.slug }}">{{ site.prismicData.single.page_home.fragments.individual_news_link_to_read_more.text }}</a>
              </p>
          	</div>
	        </div>
	          {% endif %}
	      {% endfor %}
			</div>
	  </div>
  </div>
</div>
