---
layout: default
---
<div class="single-news-content">
	<header>
		<div class="news-image">
			<img alt="{{ page.document.fragments.image.alt }}" src="{{ page.document.fragments.image.view_mobile_url }}" srcset="{{ page.document.fragments.image.url }} {{ page.document.fragments.image.width }}w, {{ page.document.fragments.image.view_mobile_url }} {{ page.document.fragments.image.view_mobile_width }}w" />
	  </div>
	</header>
	<div class="container news-content">
		<h1>{{page.document.fragments.title.text}}</h1>
		<p class="p_news">{{ page.document.fragments.body.html | markdownify | newline_to_br | remove: '<p>' | remove: '</p>'}}</p>
    
    <p class="news_date">
			<time pubdate datetime="{{page.document.fragments.publication_date.date | date_to_xmlschema}}" title="{{page.document.fragments.publication_date.date | date_to_xmlschema | date: '%d.%m'}}">{{page.document.fragments.publication_date.date | date_to_xmlschema | date: "%d.%m.%Y"}}</time>
		</p>
	</div>
</div>
