---
layout: default
---
<div class="single-news-content">
	<header>
		<div class="news-image">
	  	<img src="{{page.image.url}}?w=700&h=500&q=70" alt="">
	  </div>
	</header>
	<div class="container news-content">
	    {% capture title %}{% endcapture %}
	    {% capture text %}{% endcapture %}
    <h1>{{page.titre}}</h1>
    <p>{{ page.texteLong | markdownify | newline_to_br | remove: '<p>' | remove: '</p>'}}</p>
    <p class="news_date">
		<time pubdate datetime="{{page.date | date_to_xmlschema}}" title="{{page.date | date_to_xmlschema | date: '%d.%m'}}">{{page.date | date_to_xmlschema | date: "%d.%m.%Y"}}</time>
	</p>
	</div>
</div>