---
layout: default
---
<div class="single-news-content">
	<header>
		<div class="news-image">
	  	<img src="{{page.image.url}}" alt="">
	  </div>
	</header>
	<div class="container news-content">
		{% if site.lang == "fr" %}
	    {% capture title %}{{page.titre}}{% endcapture %}
	    {% capture text %}{{page.texteLong}}{% endcapture %}
	  {% elsif site.lang == "de" %}
	    {% capture title %}{{page.titreDe}}{% endcapture %}
	    {% capture text %}{{page.texteLongDe}}{% endcapture %}
	  {% else %}
	    {% capture title %}{{page.titreEn}}{% endcapture %}
	    {% capture text %}{{page.texteLongEn}}{% endcapture %}
	  {% endif %}
    <h1>{{ title }}</h1>
    <p>{{ text }}</p>
    <p class="news_date">{{page.date | date: "%d.%m.%Y"}}</p>
	</div>
</div>