// Custom Navigation Bar
.navbar-custom {
    background-color: white;
    border-color: transparent;
    padding: 2vmin 0;
    .navbar-toggle {
        font-size: 18px;
    }
    .container {
        padding-left: 0;
    }
}

.nav_link,
.nav_link:hover,
.nav_link:visited,
.nav_link:active {
    font-family: Sanchez, sans-serif;
    color: $blue-primary;
    text-transform: uppercase;
    text-decoration: none !important;
}

.nav_link {
    color: $blue-primary;
}

/* Line slider */

.nav_link::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1.5px;
	background: $purple-primary;
	transform: scale3d(0, 1, 1);
    transition: transform 0.1s;
}

.nav_link.w--current::before {
	transform: scale3d(1, 1, 1);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 0.3s;
}

.nav_link.w--current {
    color: $purple-primary;
}

@media (min-width: 768px) {
    .nav_link.nav_lang {
        padding-left: 5px;
        padding-right: 0;
    }
    .w-nav_lang {
        display: inline;
    }
}

@media (max-width: 767px) {
    .navbar-collapse .nav_link.nav_lang {
        display: inline;
        padding: 0;
    }
    .nav_link {
        margin-left: 20px;
    }
    .w-nav_lang {
        padding: 20px;
    }
}

.nav_lang.accent {
    color: $purple-primary;
    font-weight: 700;
}