#mainNav {
    font-family: Sanchez, sans-serif;
    text-transform: uppercase;
}

.nav-brand {
    position: relative;
    float: left;
}

.socials {
    float: left;
    @media (min-width: 1200px) {
	width: 30%;
	margin-top: 15px;  
    }
    @media (max-width: 1199px) {
	width: 30%;
	margin-top: 15px;    
    }
    @media (max-width: 991px) {
	width: 25%;
        text-align: left;
    }
}

.socials_links {
    @media (max-width: 991px) {
	margin-right: 5px !important;
    }
}

.smartphone {
	visibility: hidden;
	position: absolute;
	@media (max-width: 767px) {
		visibility: visible;
		position: relative;
		margin-top: 10px;
    	}
	@media (max-width: 640px) {
		width: 40%;
    	}
	@media (max-width: 512px) {
		width: 65%;
    	}
}

.desktop {
	@media (max-width: 767px) {
		visibility: hidden;
		position: absolute;
    	}
}

.nav-brand .logo {
	@media (max-width: 512px) {
		width: 90%;
		margin-left: 5px;
    	}
}

#main-navbar {
    float: right;
}

// Custom Navigation Bar
.navbar-custom {
    background-color: white;
    .navbar-toggle {
        font-size: 18px;
    }
    .container {
        padding-left: 0;
    }
}

.nav_link {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 20px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    &,
    &:hover,
    &:active,
    &:focus,
    &:visited {
        color: $blue-primary;
        text-decoration: none;
    }
    &.w--current {
        color: $purple-primary;
    }
    &:hover{
        color: $purple-primary;
    }
}

.nav_lang .nav_link {
    padding-right:3px;
    padding-left:3px;
}

@media (max-width: 767px) {
    .nav_link {
        margin-left: 20px;
    }
    .navbar-collapse .nav_lang {
        padding: 20px;
        .nav_link {
            display: inline;
            padding: 0;
        }
    }
    .navbar-collapse.collapse.in {
        max-height: 380px;
        width: 110%;
    }
    .row.socials.slidedown.smartphone {
        visibility: visible;
        position: relative;
        margin: 0;
        padding: 0;
        padding-top:10px;
    }
    .navbar-header {
        margin: 0;
        padding: 0;
    }
    .navbar-toggle {
        margin-top: -5px !important;
    }
}

@media(min-width:768px) {
    .navbar-custom {
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        padding: 17px 0;
    }
    .nav_lang {
        display: inline;
    }
    .row.socials.slidedown.smartphone {
        visibility: hidden;
        position: absolute;
    }
    .navbar-right {
        margin-right: 15px;
    }
}

@media(max-width:767px) {
    .nav-brand .logo {
        margin: 30px 0 0 30px;
        width: 150px;
    }
    .navbar-header {
        background-color: #FFF;
        .navbar-toggle {
            margin-bottom: -20px;
            background-color: $gray-light;
            border-radius: 0;
            height: 70px;
            color: white;
            margin-top: 0px;
            &.collapsed {
                background-color: transparent;
                color: black;
                .icon-nav {
                    color: #000;
                }
            }
        }
    }
    .navbar-collapse {
        margin-top: -1px;
        background-color: $gray-light;
        .nav_link {
            display: block;
        }
    }
    .row.socials.slidedown {
        visibility: hidden;
        position: absolute;
    }
    .omega_countdown {
        margin: 30px 0 0 200px;
        width:150px;
    }
    
}

@media only screen 
    and (min-device-width: 480px) 
    and (max-device-width: 640px) 
    and (orientation: landscape) {
      .links_social {
          text-align:left;
          margin-left: 15px;
      }
}

/* Line slider */

.navbar-nav>.nav_link::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.5px;
    background: $purple-primary;
    transform: scale3d(0, 1, 1);
    transition: transform 0.1s;
}

.navbar-nav>.nav_link.w--current::before {
    transform: scale3d(1, 1, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.3s;
}
